@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf"); /* EOT file for IE */
}

body {
    background-color: black;
    color: #fff;
    font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

dt {
    font-weight: 600;
}

/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

/* Displays */
.sleep-cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.container {
    z-index: -1; /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.listening, .interim-result {
    font-family: 'Open Sans', sans-serif;
}

.top-left {
    float: left;
}

.date {
    font-size: 42px;
}

.time {
    font-size: 110px;
}

.top-right {
    float: right;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/*.middle-center h1 {
    transform: translate3d(0, 0, 0);
    transition: all 1.5s;
    backface-visibility: hidden;
    perspective: 1000;
}*/

.middle-center h1:not(:last-child) {
    font-size: 50px;
    opacity: 0.8;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.commands {
    width: 450px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.weather {
    margin-left: auto;
    display: inline-block;
    text-align: right;
}

.weather-today .tempreture {
    font-size: 80px;
}

.weather-week-descriptor {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    max-width: 55%;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: justify;
}

.weather-week {
    margin-right: 10px;
    font-size: 22px;
}

.weather-week .day {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
}

.weather-week .tempreture {
    display: inline-block;
    width: 60px;
}

.map {
    height: 1080px;
    max-width: 100%;
}

.map-container {
    height: 1080px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.map-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 10px 10px #000;
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
    overflow: hidden;
}

.color-block {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
}

.debug-info {
    width: 500px;
}

/* Animations */
.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
    display: block !important;
}

.fade.ng-hide-remove {
    transition: all ease 1500ms;
}

.fade.ng-hide-add {
    transition: all ease 500ms;
}

.animate-grow {
    max-height: 1280px !important;
}

.animate-grow.ng-hide-add {
    transition: all linear 500ms;
}

.animate-grow.ng-hide-remove {
    transition: all linear 500ms;
}

.animate-grow.ng-hide {
    max-height: 0  !important;
}
