<!DOCTYPE html>
<html ng-app="SmartMirror">
  <head>
    <title>Smart Mirror</title>
    <!-- Libraries -->
    <script src="js/annyang.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="js/jpeg_camera_with_dependencies.min.js" type="text/javascript"></script>

    <!-- App -->
    <!--<script src="/js/init.js"></script>-->
    <script src="complements.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/annyang-service.js"></script>
    <script src="js/weather-service.js"></script>
    <script src="js/map-service.js"></script>
    <script src="js/hue-service.js"></script>
    <script src="js/geolocation-service.js"></script>
    <script src="js/camera-service.js"></script>
    <script src="js/twitter-service.js"></script>
    <script src="js/distance-service.js"></script>
    <script src="js/controller.js"></script>
    <!-- Styles and Resources -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="MirrorCtrl as commands">
    <div class="top">
      <!--<div class="top-left">
        <div class="date grey">{{date | date : 'EEEE, MMMM d yyyy'}}</div>
        <div class="time">{{date | date : 'hh:mm a'}}</div>
      </div>-->
      <!--<div class="top-right">
        <div class="weather">
          <div class="weather-today">
            <span class="tempreture">{{currentForcast.temperature}}&deg;</span>
          </div>
          <div class="weather-week-descriptor">{{weeklyForcast.summary}}</div>
          <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index > 0">
            <div class="weather-week-day">
              <span class="day light-grey">{{forcast.day}}</span>
              <span class="tempreture tempreture-min">{{forcast.temperatureMin}}</span>
              <span class="tempreture tempreture-max">{{forcast.temperatureMax}}</span>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="container">
      <div class="middle-center" ng-show="active">
        <h1 style="font-size: 100px" ng-if="precompliment">
          <img src="magnify.gif" /><br>
          Analyzing your style...
        </h1>
        <h1 ng-if="!precompliment">{{complement}}</h1>
        <!--<h3 ng-show="!(user.name === undefined)">{{user.name}}</h3>-->
        <!-- <div class="listening" ng-show="listening">Ready: {{focus}}</div> -->
        <!--<div class="map-container animate-grow" ng-show="focus == 'map'">
          <img class="map animate-grow" ng-src="{{map}}"/>
        </div>-->
        <h1 ng-if="postShowingCompliment">
          Share a picture of the beautiful You!<br>
          Say "Take a picture!" to post it to Twitter.
        </h1>
        <h1 ng-if="takingPicture && countDown >= 0" id="countDown">{{countDown}}</h1>
        <h1 ng-if="pictureTaken">You look amazing!<br>Check twitter.com/ZalandoMirror<br>And Share Your Style!</h1>
      </div>
      <div class="bottom-center">
        <!--<button ng-click="grabPhoto()">Grab Photo</button>-->
        <div id="video-container" style="position: absolute; top: 0; margin-right: auto; margin-left: auto; visibility: hidden">
          <div id="camera" style="margin-left: auto; margin-right: auto;
            width: 300px; height: 400px; position: relative; top: 0;" autoplay></div>
        </div>
        <!-- Command list -->
        <!--<div class="commands animate-grow" ng-show="focus == 'commands'">
          <h2>Availalble Commands</h2>
          <dl>
            <dt>What can I say?</dt>
            <dd>Shows a list of voice commands available to you.</dd>
            <dt>Go home</dt>
            <dd>Takes you back to the home screen</dd>
            <dt>Show me ________</dt>
            <dd>Will show you pictures of the requested item.</dd>
            <dt>Remind me to ________</dt>
            <dd>Add something to the reminders list.</dd>
            <dt>Clear reminders</dt>
            <dd>Clears out your reminders list.</dd>
            <dt>Show map</dt>
            <dd>Shows a map of your current city.</dd>
            <dt>Show map of ________</dt>
            <dd>Shows a map of the given location.</dd>
          </dl>
          <small>
            We are using node <script>document.write(process.versions.node)</script>,
            Chrome <script>document.write(process.versions.chrome)</script>,
            and Electron <script>document.write(process.versions.electron)</script>.
          </small>
        </div>-->

        <!--<div class="interim-result" ng-bind="interimResult"></div>-->
      </div>
      <div class="colors animate-grow" ng-show="focus == 'colors'">
        <div class="color-block" ng-repeat="color in colors" style="background-color:{{color}}"></div>
      </div>
    </div>
    <!-- Debug Buttons -->
    <div class="debug-info">
      <!--<button ng-click="debug = true">Open Debug</button>-->
    </div>
    <div class="debug-info" ng-show="debug == true">
      <button ng-click="focus = (focus == 'map')?'default':'map'">Map</button>
      <button ng-click="focus = (focus == 'colors')?'default':'colors'">Colors</button>
      <button ng-click="focus = (focus == 'commands')?'default':'commands'">Commands</button>
      <button ng-click="debug = false">Close Debug</button>
      <!-- Has results -->
      <div ng-show="commands.results.length > 0">
        <button class="btn btn-default" ng-click="commands.clearResults()">Clear</button>
        <hr/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="result in commands.results">
            <span class="badge">{{ result.date | date : 'EEE MMM, yyyy hh:mm:ss a' }}</span>
            {{ result.content }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Sleep cover -->
    <div ng-show="focus == 'sleep'" class="sleep-cover fade"></div>
  </body>
</html>
